doctype html
html
  head
    title house of pets
    block scripts 
    block style
    link(href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Lobster&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=EB+Garamond:ital,wght@1,600;1,700&family=Lobster&family=Questrial&display=swap" rel="stylesheet")
    
  
  nav#navbar
   ul
       div#logo 
             img(src="/static/logo1.png")  
       li #[a(href="/home") Home]
       li #[a(href="/about") About us]
       li #[a(href="/booking") Booking]
       li #[a(href="/contact") Contact us]
       li #[a(href="/playgame") Play Game]
  
  block content 
  footer#footer 
   |copyright @ www.houseofpets.com All rights || Reserved