extends base.pug

block scripts
  scripts(src="/static/index.js")
  scripts(src="/static/playgame.js")
  scripts(src="/Build/Hexantine (Build 4).framework.js")
  scripts(src="/Build/Hexantine (Build 4).loader.js")

block style
   style 
      include ../static/style.css 
      include ../TemplateData/favicon.ico
      include ../TemplateData/playgame.css

block content
  div#unity-container.unity-desktop
   canvas#unity-canvas
   div#unity-loading-bar
     div#unity-logo
     div#unity-progress-bar-empty
     div#unity-progress-bar-full
        
      
   div#unity-footer
     div#unity-webgl-logo
     div#unity-fullscreen-button
     div#unity-build-title Hexantine
  


    
